*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Default Light */
body {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
}

body.dark {
  background-color: #1e1e1e;
  color: #fff;
}
body.dark .navbar {
  background-color: #181A2A !important;
  color: #fff;
}
body.dark .navbar .nav-link{
  color: white;
}
body.dark .navbar .navbar-brand{
  color: white;
}
/* جرب تعدل كمان ألوان الجدول */
body.dark table {
  background-color: #333;
}

body.dark .table-dark {
  background-color: #444;
}

body.dark .form-control {
  
  color: #fff;
}
